<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Trang chủ</title>
</head>
<body>
    <form>
        <div class="header">
			<div class="article">
				<div id="article-1">
					<p id="center">Trang chủ</p>
				</div>
				<div id="article-3">
					<p id="center"><a href="/listsanpham">Danh sách sản phẩm</a></p>
				</div>
				<div id="article-4">
					<p id="center"><a href="/insert">Thêm sản phẩm</a></p>
				</div>
			</div>
		</div>
		<br>
		<div id="nav">
			<div class="nav-header">
				<div class="title">
					Quản lý sản phẩm
				</div>
				<div class="clearfix">
					<div class="nav-header-1">
						<div class="icon">
						</div>
						<div class="subtitle">
						</div>
					</div>
					<div class="nav-header-1">
						<div class="icon">
<center><img src="https://learnenglishkids.britishcouncil.org/sites/kids/files/image/RS5407_Toy%20Shop%20col-low.jpg" alt="#" width="500"> </center>
						</div>
					</div>

<hr>
		<div class="footer">
		
			<div class="list-shop-systems">
				<div class="list-shop-systems-1">
					<p>Địa chỉ:15 Đông Quan, Quận Cầu Giấy, Hà Nội</p>
					<p>SĐT: 0349825674</p>
					<p>Mail: truonglsgch17512@fpt.edu.vn</p>
			</div>
		</div>
		</div>
    </form>
</body>
</html>